<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>display puppy</title>
  </head>
  <body>
    <h1><%="Puppy Name:\n#{@new_pup.name}\nPuppy Breed:\n#{@new_pup.breed}\nPuppy Age:\n#{@new_pup.age} years old."%></h1>
  </body>
</html>
